.deletePopup {
  width: 100%;
  height: 100%;
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.deletePopup .deleteModal {
  width: 92%;
  height: 12rem;
  background: #fff;
  border-radius: 20px;
  text-align: center;
  vertical-align: center;
}
.deletePopup .deleteModal > p {
  margin-top: 50px;
  margin-bottom: 50px;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  color: #1A1C19;
  line-height: 1.4;
}
.deletePopup .deleteModal .deleteBtn {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.deletePopup .deleteModal .deleteBtn > button {
  width: 40%;
  min-width: 9rem;
  height: 50px;
  border-radius: 8px;
  border: none;
  font-family: "Inter", sans-serif;
  font-size: 1.125rem;
  font-weight: 700;
  color: #1A1C19;
  line-height: 1.4;
  cursor: pointer;
}
.deletePopup .deleteModal .deleteBtn > button:first-child {
  background: #D7D7D7;
  color: #6B6B6B;
}
.deletePopup .deleteModal .deleteBtn > button:last-child {
  background: #58A563;
  color: #fff;
}

.bottomBtn {
  display: flex;
  justify-content: center;
  background: #F2F5F2;
  gap: 10px;
  z-index: 10;
  position: fixed;
  width: 100%;
  height: 80px;
  bottom: 0px;
  left: 0px;
  box-shadow: 0px -5px 15px -9px rgba(0, 0, 0, 0.25);
  padding-top: 10px;
}
.bottomBtn button:first-child, .bottomBtn a:first-child {
  width: 48%;
  min-width: 170px;
  height: 50px;
  border-radius: 8px;
  font-family: "Inter", sans-serif;
  font-size: 1.125rem;
  font-weight: 700;
  color: #1A1C19;
  line-height: 1.4;
  color: #F2F5F2;
  border: none;
  background-color: #6B6B6B;
  cursor: pointer;
}
.bottomBtn button:last-child, .bottomBtn a:last-child {
  width: 48%;
  min-width: 170px;
  height: 50px;
  border-radius: 8px;
  font-family: "Inter", sans-serif;
  font-size: 1.125rem;
  font-weight: 700;
  color: #1A1C19;
  line-height: 1.4;
  color: #F2F5F2;
  border: none;
  background-color: #58A563;
  cursor: pointer;
}

.writeForm {
  width: 100%;
  background: #F2F5F2;
  margin-top: 60px;
}
.writeForm > p {
  margin-bottom: 20px;
}
.writeForm > p label {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  color: #1A1C19;
  line-height: 1.4;
  display: block;
  margin-bottom: 5px;
}
.writeForm > p:first-of-type {
  margin-top: 20px;
}
.writeForm .inputForm {
  width: 100%;
  border: none;
  border-radius: 8px;
  height: 50px;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.1);
  text-indent: 10px;
}
.writeForm input::-moz-placeholder {
  font-family: "Inter", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  color: #1A1C19;
  line-height: 1.4;
  color: #6B6B6B;
}
.writeForm input::placeholder {
  font-family: "Inter", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  color: #1A1C19;
  line-height: 1.4;
  color: #6B6B6B;
}
.writeForm > p select {
  font-family: "Inter", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  color: #1A1C19;
  line-height: 1.4;
  color: #6B6B6B;
}
.writeForm textarea {
  resize: none;
  height: 100px !important;
  padding: auto 24px;
}
.writeForm .fileWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 30px;
  width: 50px;
  height: 50px;
  background: #58A563;
  border: none;
  border-radius: 5px;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 0.75rem;
  font-weight: 400;
  color: #1A1C19;
  line-height: 1.4;
  color: #fff;
  cursor: pointer;
}
.writeForm .fileWrapper .file {
  opacity: 0;
  position: absolute;
  width: 0;
  height: 0;
}
.writeForm .fileWrapper svg {
  font-size: 16px;
  margin-top: 0.5rem;
  margin-bottom: 10%;
  fill: #fff;
}
.writeForm .previewWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 20px;
}
.writeForm .previewWrapper .previewItem {
  width: 50px;
  height: 50px;
  position: relative;
}
.writeForm .previewWrapper .previewItem img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border: 1px solid #ddd;
  border-radius: 5px;
}
.writeForm .previewWrapper .previewItem button:hover {
  background: #d32f2f;
}
.writeForm .fileOrange {
  background: #EE955E;
}
.writeForm .tradePrice {
  display: flex;
  position: relative;
  margin-bottom: 100px;
}
.writeForm .tradePrice > span {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  color: #1A1C19;
  line-height: 1.4;
  color: #1A1C19;
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
}/*# sourceMappingURL=goodsTrade.css.map */